header {
  color: #fff;
  font-family: "Lora", serif;
  max-width: none;
  width: auto;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: rgb(71, 123, 255);
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 20px;
  margin-bottom: 20px;
}
ul {
  display: flex;
  justify-content: center;
}

ul li > a {
  color: #fff;
  font-family: "Josefin Slab", serif;
  gap: 60px;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

li {
  display: flex;
  justify-content: space-between;
}

.movie_poster {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  align-items: space-around;
}

.movie_poster > img {
  height: 350;
  width: 200px;
  cursor: pointer;
  border-radius: 6px;
}
main {
  margin-left: 40px;
  margin-right: 40px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-top: 80px;
}

.main_footer {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-direction: column;
}

#athome-links {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
}

#athome-links > a {
  padding: 10px;
  border: 1px solid silver;
  border-radius: 50%;
}
